<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description"
          content="Dashboard for Thoughtworks Go Continuous Delivery, Go.CD, CoCD">
    <meta name="author" content="magnus@thinkware.se">
    <title>Go.CD Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/slate/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dash">Go.CD Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="btn btn-warning" role="button" data-toggle="tooltip" data-placement="bottom"
                       title="Show only failing builds" href="/dash?which=failing">Failing</a></li>
                <li><a class="btn btn-info" role="button" data-toggle="tooltip" data-placement="bottom"
                       title="Show failing and building" href="/dash?which=progress">Progress</a></li>
                <li><a class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom"
                       title="Show all builds" href="/dash?which=all">All</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a class="btn" role="button" data-toggle="tooltip" data-placement="bottom"
                       title="Select which pipeline groups to monitor"
                       href="/dash/select">Select Pipeline-Groups</a></li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

{% block content %}{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% block scripts %}{% endblock %}

</body>
</html>
