<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description"
          content="Dashboard for Thoughtworks Go Continuous Delivery, Go.CD, CoCD">
    <meta name="author" content="magnus@thinkware.se">
    <title>Go.CD Dashboard</title>

    <link href="/static/css/bootstrap_darkly.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Go.CD Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="btn btn-warning" role="button" href="/?which=failing">Failing</a></li>
                <li><a class="btn btn-info" role="button" href="/?which=progress">Progress</a></li>
                <li><a class="btn btn-success" role="button" href="/?which=all">All</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a class="btn" role="button" href="/select">Select Pipeline-Groups</a></li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

{% block content %}{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
