# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
**.png
**.prof
.gitstats
*.sqlite3
*.dot
*.png

**/application.cfg
**/pipelines.json

build
dist
texttest/venv
test/.coverage
.coverage
tmp

# JetBrains
.idea/
