{
  "pipelines": [
    {
      "name": "some-pipeline",
      "begin_at": 2200,
      "log_parser": "junit"
    },
    {
      "name": "another-pipeline",
      "begin_at": 900,
      "log_parser": "junit"
    }
  ]
}