{% extends "layout.html" %}

{% block headextra %}
        <meta http-equiv="refresh" content="30;url={{ dashboard_link }}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>:(</h1>
            <p>{{ statuscode }}: It looks like the page you're trying to access does not exist.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ dashboard_link }}" role="button">Go back to the dashboard</a></p>
        </div>
    </div>
{% endblock %}

