{% extends "layout.html" %}
{% block content %}
<div class="container">
    {% for pipeline in pipelines %}
    {% if (loop.index - 1) is divisibleby(cols) %}
    <div class="row">
        {% endif %}
        <div class="col-md-{{ 12 // cols }}">
            <div class="panel panel-{{ pipeline.status | bootstrap_status }}">
                <div class="panel-heading {{ pipeline.status | bootstrap_building }}">
                    <h3 class="panel-title ">
                        <a data-toggle="collapse" href="#collapse{{ loop.index }}"
                           title="View details">
                            <span id="glyph{{ loop.index }}" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a href="{{ pipeline.url }}">{{ pipeline.name }}
                            <span class="badge">{{ pipeline.label }}
                            </span>
                        </a>
                        <a data-toggle="tooltip" title="{{ pipeline.changed }}"
                           href="{{ pipeline.url }}">
                            {{ pipeline.changed | time_or_date }}
                        </a>
                        {% if pipeline.name in synced_pipelines.keys() %}
                        <a href="{{ application_root }}/insights/{{pipeline.name}}"> <span id="glyph{{ insights }}"
                                                                          class="glyphicon glyphicon-stats"
                                                                          aria-hidden="true"></span> |
                            <i> Insights </i>
                            ({{synced_pipelines[pipeline.name].pipeline_counter}})
                        </a>

                            {% if synced_pipelines[pipeline.name].responsible %}
                                <span class="glyphicon glyphicon-lock pull-right" aria-hidden="true" data-placement="top" title="{{ synced_pipelines[pipeline.name].responsible }}: {{ synced_pipelines[pipeline.name].description }}"></span>
                            {% endif %}
                            {% if not synced_pipelines[pipeline.name].is_success() and not synced_pipelines[pipeline.name].responsible %}
                                <span class="glyphicon glyphicon-flag pull-right claim-stage-flag" data-pipeline_name="{{ synced_pipelines[pipeline.name].pipeline_name }}" data-pipeline_counter="{{ synced_pipelines[pipeline.name].pipeline_counter }}" data-stageid="{{ synced_pipelines[pipeline.name].stage_id }}" data-target="#myModal" data-toggle="modal" data-placement="top" title="Claim this stage" id="claim-button">

                                </span>
                            {% endif %}
                        {% endif %}
                    </h3>
                </div>
                <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% for stage in pipeline.stages %}
                        <div class="btn-group-vertical">
                            <a class="btn btn-sm btn-{{ stage.status | bootstrap_status }}"
                               role="button" href="{{ stage.url }}">{{ stage.name }}
                                <span class="badge">{{ stage.counter }}</span></a>
                            {% for job in stage.jobs %}
                            <a class="btn btn-sm btn-{{ job.status | bootstrap_status }}" role="button"
                               href="{{ job.url }}">{{ job.name }}</a>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for kind in pipeline.messages | sort %}
                        <br>
                        {{ kind }}:
                        {% for message in pipeline.messages[kind] | sort %}
                        {{ message }}
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if loop.index is divisibleby(cols) or loop.index == pipelines|length %}
    </div>
    {% endif %}
    {% endfor %}
    <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title"><strong>Claim failing stage</strong></h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="claimForm">
                        <div class="form-group" id="responsibleFormGroup">
                            <label for="responsible" class="col-sm-2 control-label">Responsible</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="responsible" name="responsible" placeholder="Responsible">
                                <span id="responsibleHelpBlock" class="help-block hidden">Please fill in this required field.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="description" name="description" placeholder="Description">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="postClaim">Claim stage</button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div id="mgmt-bar" class="container hidden">
    <div class="row">
        <div class="col-md-12">
            <span>System status</span>
            {{ total_pipelines }}
            <div class="progress">
                <div class="progress-bar progress-bar-success" aria-valuenow="{{ progress_bar_data[0] }}"
                     style="width: {{ progress_bar_data[0] }}%">
                    {% if progress_bar_data[0] > 5 %}
                    {{ progress_bar_data[0] | round | int}} %
                    {% endif %}
                </div>
                <div class="progress-bar progress-bar-info progress-bar-striped"
                     style="width: {{ progress_bar_data[1] }}%">
                    {% if progress_bar_data[1] > 5 %}
                    {{ progress_bar_data[1] | round | int }} %
                    {% endif %}
                </div>
                <div class="progress-bar progress-bar-danger" style="width: {{ progress_bar_data[2] }}%">
                    {% if progress_bar_data[2] %}
                    {{ progress_bar_data[2] | round | int }} %
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container hidden" id="status-popup">
    {% for pipeline in finished_pipelines %}
        <div class="col-md-4">
            <div class="pipeline-alert" style="display:none">
                <div class="alert alert-{{ pipeline.is_success() | build_outcome_panel }}"
                     role="alert" id="pipeline-status-cache">
                    <strong>Information:</strong> {{ pipeline.name }} just finished with
                    status: {{ pipeline.status }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}

    <!-- Refresh every minute -->
    <script type="text/javascript">
        var stageid = null;
        var pipelineName = null;
        var pipelineCounter = null;
        var shouldReload = true;
        reload_in_a_minute();

        function reload_in_a_minute() {
            window.setTimeout(function () {
                if (shouldReload) {
                    document.location.reload(true);
                }
            }, 60000);
        }
        $('#myModal').on('show.bs.modal', function (event) {
            console.log("No more reloads!");
            var icon = $(event.relatedTarget);
            stageid = icon.data('stageid');
            pipelineName = icon.data('pipeline_name');
            pipelineCounter = icon.data('pipeline_counter');
            shouldReload = false;
        });

        $('#myModal').on('hide.bs.modal', function (e) {
            console.log("More reloads!");
            shouldReload = true;
            reload_in_a_minute();
        });

        $('#postClaim').click(function () {
            console.log($('#responsible').val());
            if ($('#responsible').val() === "") {
                $('#responsibleHelpBlock').removeClass('hidden');
                $('#responsibleFormGroup').addClass('has-error');
                return false;
            }
            else {
                payload = $('#claimForm').serialize() + '&pipelineName=' + pipelineName + '&pipelineCounter=' + pipelineCounter;
                $.post("{{ application_root }}/claim", payload).done(function () {
                    $('#myModal').modal('hide');
                    document.location.reload(true);
                }).fail(function () {
                    $('#myModal').modal('hide');
                    claim_fail_alert()
                })
            }
        });

        function claim_fail_alert() {
            $("#claim-fail-alert").removeClass('hidden')
            $("#claim-fail-alert").fadeTo(3000, 500).slideUp(500, function () {
                $("#claim-fail-alert").alert('close');
                document.location.reload(true);
            });
        }

        $(function () {
            $(".pipeline-alert").fadeIn(1000);
            shouldReload = true;
        });
    </script>

<script type="text/javascript">
{% for pipeline in pipelines %}
    $("#collapse{{ loop.index }}").on('shown.bs.collapse', function () {
       $("#glyph{{ loop.index }}").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    });
    $("#collapse{{ loop.index }}").on('hidden.bs.collapse', function () {
       $("#glyph{{ loop.index }}").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });


{% endfor %}
</script>

<script type="text/javascript">
    $(function () {
        if (window.localStorage.getItem("show-mgmt-bar") === "true") {
            $('#mgmt-bar').removeClass("hidden")
        }

    });

    $(function () {
        if (window.localStorage.getItem("show-status-popups") === "true") {
            $('#status-popup').removeClass("hidden")
        }

    })
</script>

{% endblock %}