{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <form class="pipelinesform" role="form" action="" method="">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Pipeline Name</th>
                        <th>Pipeline Group</th>
                        <th>Synchronize</th>
                        <th>Log Parser</th>
                        <th>Email Notifications</th>
                    </tr>
                </thead>
                <tbody>
                {% for pipeline_name, pipeline_group, sync, log_parser, email_notifications in pipelines %}
                    <tr>
                        <td>{{ pipeline_name }}</td>
                        <td>{{ pipeline_group }}</td>
                        <td>
                                <input type="checkbox" {% if sync %}checked{% endif %}
                                       id="sync_{{ pipeline_name }}"
                                       name="sync_{{ pipeline_name }}"
                                       onclick="toggleSync({{ pipeline_name }})"
                                >
                        </td>
                        <td>
                            <select class="form-control">
                            {% for lp in log_parsers %}
                                <option value="log_parser_{{ pipeline_name }}_{{ lp }}" {% if lp == log_parser %}selected{% endif %}>{{ lp }}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                                <input type="checkbox" {% if email_notifications %}checked{% endif %}
                                       name="email_notifications_{{ pipeline_name }}"
                                       onclick="toggleEmailNotifications({{ pipeline_name }})"
                                >
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>


{% endblock %}

{% block scripts %}

    <script type="text/javascript" language="javascript">
        function toggleSync( pipeline ) {
            console.log("Sync " + pipeline + " " + document.getElementById('sync_' + pipeline).checked);
        };
    </script>

    <script type="text/javascript" language="javascript">
        function toggleEmailNotifications( pipeline ) {
            console.log("Mail " + pipeline + " " + document.getElementById('email_notifications_' + pipeline).checked);
        };
    </script>

{% endblock %}

