{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <form class="pipelinesform" role="form" action="" method="">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Pipeline Name</th>
                        <th>Pipeline Group</th>
                        <th>Synchronize</th>
                        <th>Log Parser</th>
                        <th>Email Notifications</th>
                    </tr>
                </thead>
                <tbody>
                {% for pipeline_name, pipeline_group, sync, log_parser, email_notifications in pipelines %}
                    <tr>
                        <td>{{ pipeline_name }}</td>
                        <td>{{ pipeline_group }}</td>
                        <td>
                                <input type="checkbox" {% if sync %}checked{% endif %}
                                       id="sync_{{ pipeline_name }}"
                                       name="sync_{{ pipeline_name }}"
                                       onclick="toggleCB('sync', this, '{{ pipeline_name }}');"
                                >
                        </td>
                        <td>
                            <select class="form-control" onchange="saveLogParser(this, '{{ pipeline_name }}');">
                            {% for lp in log_parsers %}
                                <option value="log_parser_{{ pipeline_name }}_{{ lp }}" {% if lp == log_parser %}selected{% endif %}>{{ lp }}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                                <input type="checkbox" {% if email_notifications %}checked{% endif %}
                                       name="email_notifications_{{ pipeline_name }}"
                                       onclick="toggleCB('email_notifications', this, '{{ pipeline_name }}');"
                                >
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" language="javascript">
        function toggleCB(what, element, pipeline) {
            var url = '{{ application_root }}/pipelines/' + pipeline + '/' + what;
            var action = 'DELETE';
            if (element.checked) {
                action = 'PUT';
            }
            $.ajax({
                url: url,
                type: action
            });
        };
    </script>

    <script type="text/javascript" language="javascript">
        function saveLogParser(element, pipeline) {
            var url = '{{ application_root }}/pipelines/' + pipeline + '/log_parser';
            $.ajax({
                url: url,
                type: 'POST',
                data: 'log_parser=' + element.value
            });
        };
    </script>


{% endblock %}

